button{
    margin: 10px;
    background-color: red;
    justify-content: center;
    transition-delay: 0s;
    height: 100px;
    width: 100px;
    transition-duration: .5s;
    border-radius: 20%;
    border-color:aliceblue;

}
button:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: yellow;

    /* transform: translateX(500px); */

}